extends layout

block content
    .game-box(game-wrapper='', ng-controller='LearningController', ng-keydown='onKeyDown($event)', ng-keyup='onKeyUp($event)', tabindex='-1')
        h2 Minotaur adventure
        p To move the map view, press the arrow keys. To control the Minotaur, use the mouse.
