doctype html
html(ng-app="Learning")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/jquery-2.1.0.js')
    script(src='/javascripts/lib/lodash.js')
    script(src='/javascripts/lib/async.js')
    script(src='/javascripts/lib/pixi.js')
    script(src='/javascripts/lib/angular.js')
    script(src='/javascripts/y2d/utils.js')
    script(src='/javascripts/y2d/map-loader.js')
    script(src='/javascripts/learn/less1.js')
