body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#RND {
  width: 1600px;
  font-size: 8px;
  line-height: 8px;
}
#RND .tile {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid #aaa;
}
#RND .tile.ground {
  background: #633;
}
#RND .tile.wall {
  background: #f00;
}
#RND .tile.close {
  background: #808080;
}
#RND .tile.open {
  background: #adff2f;
}
#RND .tile.path {
  background: #00f;
}
